::-webkit-input-placeholder {
 font-size: 11.5px;
 /*color: #d0cdfa;*/
 /*text-transform: uppercase;
 text-transform: uppercase;*/
 text-align: center;
 /*font-weight: bold;*/
}

.show-center {
  text-align: center; 
}

.icon-center {
  vertical-align: text-bottom;
}

.report-panels {
  position: inherit;
  padding-top: 3.618em;
}

.dlr-form {
  padding-left: 3.618em;
  padding-right: 3.618em;
}

.lease-count-panel .panel {
  height: 309px;
}

.daily-lease-breakdown-panel .panel {
  height: 309px;
}

.furnishing-breakdown-panel .panel {
  height: auto;
}

.vertical-center {
  padding-top: 4em;
  vertical-align: middle;
}

.quote-for-leah {
  padding-top: 5em;
  padding-left: 3em;
  padding-bottom: 10em;
}

.newDLR-top-hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
}

.newDLR-hr { 
  display: block;
  /*width: 75%;*/
  margin-top: 0.3em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.newDLR-bottom-hr { 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
}

.form-horizontal .form-group {
  margin-left: 1em;
}

.col-centered{
  margin-left: 47.5%;
  float: none;
}

input {
  padding: 0.382em;
  border-radius: 0.382em;
  margin-left: 0.618em;
  border-style: none;
  border: 1px solid #dedede;
}

.navbar {
  background: url(../images/dark_embroidery.png) repeat;
}

div.panel.new-dlr {
  margin-top: 3.618em;
}

/*.equal-height {
    height: 7.236em;
}*/

/*flex, .flex > div[class='col-'] {  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 0 auto;
  margin-top: 1%;
}

.panel {
   display: flex;
   flex-direction:column;
   align-content:stretch; 
}

.panel-body {
   display: flex;
   flex-grow:1;
}
@media screen and (min-width:320px) and (max-width:1000px){
.flex, .flex > div[class='col-'] {
display:block; 
}
}*/