body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/paisley.png) repeat;
  /*background: url(../images/dark_embroidery.png) repeat;*/
}

a {
  color: #00B7FF;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}