extends ../layout

block content

  div.container-fluid

    h1.text-left
      i.icon-center.material-icons="assignment"
      =title

    ul.list-group
      each result in results
        - var uid = result.uid
        - var report_date_pretty = result.report_date_beautify()

        li.list-group-item
          a(href="/dashboards/#{uid}")
            span.gradee-name=report_date_pretty

    if page == 1
      div.btn-group
        a.btn(href="/dashboards/?page=" + (page + 1)) >
        a.btn(href="/dashboards/?page=" + total_pages) >>

    else if page == total_pages
      div.btn-group
        a.btn(href="/dashboards") <<
        a.btn(href="/dashboards/?page=" + (page - 1)) <

    else
      div.btn-group
        a.btn(href="/dashboards") <<
        a.btn(href="/dashboards/?page=" + (page - 1)) <
        a.btn(href="/dashboards/?page=" + (page + 1)) >
        a.btn(href="/dashboards/?page=" + total_pages) >>