extends ../layout

block content

  div#report_chart_title
    h1.report-chart-title
      i.material-icons="insert_chart"
      =title

  div#DLR_prelease_report_chart

  script(src='/javascripts/report_charts.js' charset='utf-8')